In [25]:
import numpy as np
from sklearn.preprocessing import StandardScaler
import pandas as pd
import seaborn as sns
df = sns.load_dataset('titanic')

- Selection

In [26]:
df = df[['survived','pclass','sex','age','sibsp','parch','fare','embarked','who','deck']]

- 결측치 제거

In [27]:
df.age.fillna(df.age.mean().round(2), inplace=True)
df.embarked.fillna('S',inplace=True)
df.drop(columns=['who','deck'],inplace=True)

In [28]:
df.isna().sum().sum()

0

- Label encoder로 'sex'와 'embarked'를 변환

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.sex = le.fit_transform(df.sex)
df.embarked = le.fit_transform(df.embarked)

In [30]:
df.head()

   survived  pclass  sex   age  sibsp  parch     fare  embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

- 훈련/테스트 데이터 분리

In [31]:
X = df.iloc[:,1:].values
y = df.survived.values

In [32]:
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

def pca_accuracy(X, y):
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, stratify=y, test_size=0.2, random_state=2023
    )
    rfc = RandomForestClassifier(random_state=2023)
    rfc.fit(X_train, y_train)
    score = rfc.score(X_test, y_test)
    return score

In [33]:
for n in [2, 3, 4, 5, 6]:
    pca = PCA(n_components=n)
    df_pca = pca.fit_transform(X)
    explained = sum(pca.explained_variance_ratio_)
    acc = pca_accuracy(df_pca, y)
    print(f'PCA{n}: 설명력={explained:.4f} 정확도={acc:.4f}')

PCA2: 설명력=0.9989 정확도=0.7318
PCA3: 설명력=0.9994 정확도=0.7095
PCA4: 설명력=0.9996 정확도=0.7598
PCA5: 설명력=0.9998 정확도=0.7709
PCA6: 설명력=0.9999 정확도=0.7989