### 피마 인디언 당뇨병 예측

In [1]:
import numpy as np
import pandas as pd

- 1. 데이터 전처리 및 탐색

In [2]:
df = pd.read_csv('pima-indians-diabetes.csv', skiprows=9, header=None)
df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [3]:
# 1. Number of times pregnant
# 2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
# 3. Diastolic blood pressure (mm Hg)
# 4. Triceps skin fold thickness (mm)
# 5. 2-Hour serum insulin (mu U/ml)
# 6. Body mass index (weight in kg/(height in m)^2)
# 7. Diabetes pedigree function
# 8. Age (years)
# 9. Class variable (0 or 1)
df.columns = ['P','G','BP','S','I','BMI','D','Age','Target']
df.head()

   P    G  BP   S    I   BMI      D  Age  Target
0  6  148  72  35    0  33.6  0.627   50       1
1  1   85  66  29    0  26.6  0.351   31       0
2  8  183  64   0    0  23.3  0.672   32       1
3  1   89  66  23   94  28.1  0.167   21       0
4  0  137  40  35  168  43.1  2.288   33       1

In [4]:
# 결측치 확인
df.isna().sum().sum()

0

In [5]:
# X, y 데이터를 ndarray로 추출
X = df[['P','G','BP','S','I','BMI','D','Age','Target']].values
y = df.Target.values

In [6]:
# 대부분의 csv에 적용되는 식
X = df.iloc[:,:-1].values
y = df.iloc[:, -1].values

In [7]:
X.shape, y.shape

((768, 8), (768,))

In [12]:
df.Target.value_counts()

Target
0    500
1    268
Name: count, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, df.Target, stratify=df.Target,
    test_size=0.2, random_state=2023
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 8), (154, 8), (614,), (154,))

In [9]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=2023)
dtc.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': 2023,
 'splitter': 'best'}

In [ ]:
params = {
    'max_depth': [2,5,8],
    'min_samples_split': [2,3,4]
}